
.carousel-slide {
    position: relative;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  